<html>
    <head>
        <meta charset="utf-8">
        <title>Task 1!</title>
    </head>
    <body>
        {% if show %} 
           the total sum is {{show}}

        {% else %}
            <h1>Static HTML page!</h1>
            <!-- Hello World!!!! -->
        <form action='http://localhost:8000/result/' method='post'>{% csrf_token %}
            First_no.:<br>
            <input type="number" name="a" ><br>
            Second_no.:<br>
            <input type="number" name="b" ><br><br>
            <input type="submit" value="Submit">
        </form>
        {% endif %}
    </body>
</html>